{% extends 'base.html' %}
{% load humanize %}

{% block main %}
{% if user.is_authenticated %}
<a href="{% url 'polls:create' %}">Create a poll</a>
{% else %}
<a href="{% url 'users:login' %}">Login</a> to create a poll.
{% endif %}
{% if question_list %}
<ul>
{% for question in question_list %}
<li>
<a href="{% url 'polls:detail' question.pk %}">{{ question }}</a>
 - by <a href="{% url 'users:profile' question.author.pk %}">{{ question.author }}</a> {{ question.created_at|naturaltime }}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
