{% extends 'base.html' %}
{% load humanize %}

{% block main %}
{% if question %}
<h2>Question:</h2>
<h3>{{ question }}</h3>
by <a href="{{ question.author.get_absolute_url }}">{{ question.author }}</a> {{ question.created_at|naturaltime }}
{% if error_message %}
<p class="error"><strong>{{ error_message }}</strong></p>
{% endif %} {% if question.choices %}
<h2>Choices:</h2>
<form method="POST" action="{% url 'polls:vote' question.pk %}">
  {% csrf_token %}
  <table>
    <tr>
      <th></th>
      <th>Choice</th>
      <th>Votes</th>
    </tr>
    {% for choice in question.choices.all %}
    <tr>
      <td>
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.pk}}" />
      </td>
      <td><label for="choice{{ forloop.counter }}">{{ choice }}</label></td>
      <td>
        <label for="choice{{ forloop.counter }}">{{ choice.votes }}</label>
      </td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" name="submit" value="Vote" />
</form>
{% endif %} {% endif %} {% endblock %}