{% extends 'base.html' %}
{% load humanize %}

{% block main %}
{% if question %}
<h4>{{ question.title }}</h4>
<strong>Author</strong> - <a href="{{ question.author.get_absolute_url }}">{{ question.author }}</a>
<br>
<strong>Created</strong> - {{ question.created_at|naturaltime }}
<p>{{ question.description|linebreaksbr }}</p>
<a href="{% url 'questions:answer' question.pk %}">Answer it</a>
{% if question.answers %}
{% include 'questions/_answer_list.html' with answers=question.answers.all %}
{% endif %}
{% endif %}
{% endblock %}