{% extends 'base.html' %}
{% load humanize %}

{% block main %}
{% if question %}
<h4>{{ question.title }}</h4>
<strong>Author</strong> - <a href="{{ question.author.get_absolute_url }}">{{ question.author }}</a>
<br>
<strong>Created</strong> - {{ question.created_at|naturaltime }}
<p>{{ question.description|linebreaksbr }}</p>
<a href="{% url 'questions:answer' question.pk %}">Answer it</a>
{% if question.answers %}
<ul>
    {% for answer in question.answers.all %}
    <li>
        <a href="{{ answer.author.get_absolute_url }}">{{ answer.author }}</a>
        wrote {{ answer.created_at|naturaltime }}:
        <p>{{ answer.text|linebreaksbr }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}