{% extends 'base.html' %}
{% load humanize %}

{% block main %}
{% if question %}
<h4>{{ question.title }}</h4>
{% if request.user == question.author %}
<a href="{% url 'questions:edit' question.pk %}">Edit</a>
{% endif %}
<br>
Author - <a href="{{ question.author.get_absolute_url }}"><strong>{{ question.author }}</strong></a>
<br>
Created - {{ question.created_at|naturaltime }}
<p>{{ question.description|linebreaksbr }}</p>
<a href="{% url 'questions:answer' question.pk %}"><strong>Answer it</strong></a>
{% if question.answers %}
{% include 'questions/_answer_list.html' with answers=question.answers.all %}
{% else %}
<p><strong>No Answers</strong></p>
{% endif %}
{% endif %}
{% endblock %}