{% extends 'base.html' %}
{% load humanize %}

{% block main %}
<form method="get" name="search_form">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter a search term">
    <input type="submit" value="Search">
</form>
{% if 'q' in request.GET and request.GET.q != '' %}
<div id="results">
    <a href="{% url 'search:home' 'feeds' %}?q={{request.GET.q}}">Feeds</a>
    <a href="{% url 'search:home' 'articles' %}?q={{request.GET.q}}">Articles</a>
    <a href="{% url 'search:home' 'questions' %}?q={{request.GET.q}}">Questions</a>
    <a href="{% url 'search:home' 'answers' %}?q={{request.GET.q}}">Answers</a>
    <a href="{% url 'search:home' 'polls' %}?q={{request.GET.q}}">Polls</a>
    <a href="{% url 'search:home' 'users' %}?q={{request.GET.q}}">Users</a>
    <h2 id="results_category">
        {{ category|capfirst }}
    </h2>
    {% if results %}
    {% if category == 'feeds' %}
    {% include 'feeds/_feed_list.html' with feeds=results %}
    {% elif category == 'articles' %}
    {% include 'articles/_article_list.html' with articles=results %}
    {% elif category == 'questions' %}
    {% include 'questions/_question_list.html' with questions=results %}
    {% elif category == 'answers' %}
    {% include 'questions/_answer_list.html' with answers=results %}
    {% elif category == 'polls' %}
    {% include 'polls/_poll_list.html' with polls=results %}
    {% elif category == 'users' %}
    {% include 'users/_user_list.html' with users=results %}
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?q={{ request.GET.q }}&page=1">&laquo; first</a>
            <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <strong>No {{ category|capfirst }}</strong>
    {% endif %}
</div>
{% else %}
Enter a search term.
{% endif %}
{% endblock %}