{% extends 'base.html' %}
{% load humanize %}

{% block main %}
  {% if user.is_authenticated %}
    <a href="{% url 'articles:create' %}">Create a new article</a>
  {% else %}
    <a href="{% url 'users:login' %}">Login</a> to add an article
  {% endif %}
  {% if article_list %}
    <ul>
      {% for article in article_list %}
        <li>
          <a href="{% url 'articles:detail' article.pk %}"><h4>{{ article.title }}</h4></a>
          - by <a href="{% url 'users:profile' article.author.pk %}">{{ article.author }}</a>
           {{ article.created_at|naturaltime }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
