{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/base.css' %}"
    />
    <title>{% block title %}Bootcamp{% endblock %}</title>
  </head>
  <body>
    {% block header %}
    <header>
      <div class="left">
        <a href="{% url 'home' %}">
          <span class="home">BootCamp</span>
        </a>
        <a href="{% url 'feeds:home' %}">Feeds</a>
      </div>
      <div class="right">
        {% if request.user.is_authenticated %} {{ request.user.name }}
        <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:signup' %}">Signup</a>
        {% endif %}
      </div>
    </header>
    {% endblock %}
    <main>{% block main %} {% endblock %}</main>
  </body>
</html>
