<html>
<head>
        <title>
            {% block title %}Bootcamp{% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
        <header>
            {% if request.user.is_authenticated %}
            {{ request.user.name }}
            <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:signup' %}">Signup</a>
            {% endif %}
        </header>
        {% endblock %}
        <main>
        {% block main %}
        {% endblock %}
        </main>
    </body>
</html>
