* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

header > div.left .home {
  font-size: larger;
  font-weight: bolder;
}

table * {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

input[type="radio"] {
  margin-bottom: 10px;
}

.error {
  color: red;
}

textarea {
  font-size: 16px;
  width: 100%;
  resize: none;
}

main li {
  padding: 10px;
}

.feed_list,
#feed_form {
  max-width: 600px;
  margin: 0 auto;
}

.feed_item {
  border: 0.5px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

#count {
  opacity: 0.5;
  float: right;
}

a {
  color: black;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
}

#user_activity {
  width: 100%;
  border-collapse: collapse;
}

#user_activity thead {
  background-color: rgb(187, 187, 187);
}

#user_activity th,
#user_activity td {
  border: 1px solid black;
}
