* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

header a {
  text-decoration: none;
}

header > div.left .home {
  font-size: larger;
  font-weight: bolder;
}
