{% extends 'base.html' %}
{% load humanize %}

{% block main %}
<h2>{{ user }}</h2>
{% if user != request.user %}
{% if request.user in user.followers.all %}
<a href="{% url 'users:unfollow' user.pk %}">unfollow</a>
{% else %}
<a href="{% url 'users:follow' user.pk %}">follow</a>
{% endif %}
{% endif %}
<table id="user_activity">
    <caption>A count of all the activities of {{ user }}.</caption>
    <thead>
        <tr>
            <th scope="col">
                <a href="{% url 'users:profile' user.pk 'feeds' %}">Feeds</a>
            </th>
            <th scope="col">
                <a href="{% url 'users:profile' user.pk 'articles' %}">Articles</a>
            </th>
            <th scope="col">
                <a href="{% url 'users:profile' user.pk 'questions' %}">Questions</a>
            </th>
            <th scope="col">
                <a href="{% url 'users:profile' user.pk 'answers' %}">Answers</a>
            </th>
            <th scope="col">
                <a href="{% url 'users:profile' user.pk 'polls' %}">Polls</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.feeds.count }}</td>
            <td>{{ user.articles.count }}</td>
            <td>{{ user.questions.count }}</td>
            <td>{{ user.answers.count }}</td>
            <td>{{ user.polls.count }}</td>
        </tr>
    </tbody>
</table>
<h2>
    {{ category }}
</h2>
<h4>
    {% if request.user == user and category == 'articles' %}
    view your <a href="{% url 'articles:drafts' %}">drafts</a>
    {% endif %}
</h4>
{% if posts %}
{% if category == 'feeds' %}
{% include 'feeds/_feed_list.html' with feeds=posts %}
{% elif category == 'articles' %}
{% include 'articles/_article_list.html' with articles=posts %}
{% elif category == 'questions' %}
{% include 'questions/_question_list.html' with questions=posts %}
{% elif category == 'answers' %}
{% include 'questions/_answer_list.html' with answers=posts %}
{% elif category == 'polls' %}
{% include 'polls/_poll_list.html' with polls=posts %}
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last
            &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<strong>No {{ category }}</strong>
{% endif %}
{% endblock %}