{% extends 'base.html' %}

{% block main %}
<h2>{{ user }}</h2>
{% if request.user in user.followers.all %}
<a href="{% url 'users:unfollow' user.pk %}">unfollow</a>
{% else %}
<a href="{% url 'users:follow' user.pk %}">follow</a>
{% endif %}
<table id="user_activity">
    <caption>A count of all the activities of {{ user }}.</caption>
    <thead>
        <tr>
            <th scope="col">Feeds</th>
            <th scope="col">Articles</th>
            <th scope="col">Questions</th>
            <th scope="col">Answers</th>
            <th scope="col">polls</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.feeds.count }}</td>
            <td>{{ user.articles.count }}</td>
            <td>{{ user.questions.count }}</td>
            <td>{{ user.answers.count }}</td>
            <td>{{ user.polls.count }}</td>
        </tr>
    </tbody>
</table>
<h3>Feeds</h3>
{% if user.feeds %}
<ul>
    {% for feed in user.feeds.all %}
    <li>{{ feed|linebreaksbr }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>Articles</h3>
{% if user.articles %}
<ul>
    {% for article in user.articles.all %}
    <li><a href="{% url 'articles:detail' article.pk %}">{{ article }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<h3>Questions (asked)</h3>
{% if user.questions %}
<ul>
    {% for question in user.questions.all %}
    <li><a href="{% url 'questions:detail' question.pk %}">{{ question }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<h3>Questions (answered)</h3>
{% if user.answers %}
<ul>
    {% for answer in user.answers.all %}
    <li><a href="{% url 'questions:detail' answer.question.pk %}">{{ answer.question }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<h3>Polls</h3>
{% if user.polls %}
<ul>
    {% for poll in user.polls.all %}
    <li><a href="{% url 'polls:detail' poll.pk %}">{{ poll }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
